.card {
  // width: 200px;
  background-color: #222;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  margin: 10px;

  &:hover {
    transform: scale(1.05);
  }

  &.actorCard {
    background-color: transparent; 
    border: none;
    box-shadow: none;
    width: 100px;
  }
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.roundedImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.details {
  padding: 15px;
  text-align: center;
}

.actorContainer {
  padding: 20px;
  text-align: center;
  background-color: transparent;
  
}

.actorName {
  margin: 15px 0;
  font-size: 1.2rem;
  color: #d8d8d8;
}

.knownFor {
  font-size: 0.9rem;
  color: #bbb;
  margin-top: 10px;
  
  span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.releaseDate,
.rating {
  font-size: 14px;
  color: #bbb;
}