.sm {
  height: 16px;
  width: 16px;
}

.md {
  height: 24px;
  width: 24px;
}

.lg {
  height: 32px;
  width: 32px;
}

.secondary {
  fill: #ffd903;
  stroke: #ffd903;
}

.primary {
  // fill: #1b1b1b;
  stroke: #1b1b1b;
}
