@use "./_colors.scss" as colors;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: colors.$white;
}

::-webkit-scrollbar-thumb {
  background: colors.$gray-300;
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background: colors.$gray-400;
}

::-webkit-scrollbar-thumb:active {
  background: colors.$gray-500;
}

body {
  background-color: colors.$white;
}