body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    align-content: center;
}

.form-group {
    margin-bottom: 1rem; 
}

.container {
    border: 1px solid #000000; // Added border for the entire login portal
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

// Ensure responsiveness
@media (max-width: 768px) {
    body {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 18px;
    }
}
