@use "../../../styles/colors" as colors;

// Variables

$primary-color: #007bff;
$text-color: #333;
$background-color: #f8f9fa;
$footer-padding: 40px 20px;
$social-icon-size: 20px; // Reduced size

// Footer Styles
.footer {
  font-family: "Roboto", serif;
  margin-top: 48px;
  background-color: colors.$gray-950;
  color: $text-color;
  padding: $footer-padding;
  // text-align: center;
  color: colors.$gold-700;
  border-radius: 25px 25px 0 0;

  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 12px auto;
    padding-bottom: 24px;
    border-bottom: 2px solid colors.$gold-900;

    .footer-section {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-self: center;
      width: fit-content;
    }

    .footer-header {
      letter-spacing: 1px;
      font-size: 20px;
      // text-transform: uppercase;
      color: colors.$gold-900;
    }
    .quick-links-list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 0;

      .quick-link {
        text-decoration: none;
        color: colors.$gold-700;
        transition: color 0.3s ease-in-out;
        width: fit-content;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0%;
          height: 3px;
          background-color: colors.$gold-900;
          transition: width 0.3s ease-in-out;
        }

        &:hover {
          color: colors.$gold-800;

          &::after {
            width: 100%;
          }
        }
      }
    }

    .social-icons {
      display: flex;
      gap: 16px;

      .social-link {
        color: colors.$gold-700;
      }
    }

    .site-logo img {
      width: 200px;
    }
    .site-logo {
      align-self: center;
    }
  }

  .footer-bottom {
    margin-top: 20px;
    font-size: 12px;

    p {
      text-align: center;
    }
  }
}

// Responsive Styles
@media (max-width: 768px) {
  .footer {
    .footer-content {
      // flex-direction: column;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      .footer-section {
        padding: 0;

        &.movie-app-title {
          order: -1; // Move title to the top on small screens
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .footer {
    .footer-content {
      // flex-direction: column;
      grid-template-columns: 1fr;
      gap: 30px;

      .footer-header {
        text-align: center;
      }
      .quick-links-list {
        align-items: center;
      }

      .footer-section {
        padding: 0;

        &.movie-app-title {
          order: -1; // Move title to the top on small screens
        }
      }
    }
  }
}

// h3 {
//   margin-bottom: 15px;
//   font-size: 1.25rem; // Reduced size
// }

// ul {
//   list-style: none;
//   padding: 0;

//   li {
//     margin-bottom: 10px;

//     a {
//       color: $text-color;
//       text-decoration: none;
//       transition: color 0.3s ease;
//       font-size: 0.875rem; // Reduced size

//       &:hover {
//         color: $primary-color;
//       }
//     }
//   }
// }

// &.movie-app-title {
//   h1 {
//     margin: 0;
//     font-size: 2rem; // Reduced size
//   }
// }

// &.social-media {
//   .social-icons {
//     display: flex;
//     justify-content: center;
//     gap: 15px;

//     a {
//       color: $text-color;
//       font-size: $social-icon-size;
//       transition: color 0.3s ease;

//       &:hover {
//         color: $primary-color;
//       }
//     }
//   }
// }
