// Button.module.scss

.button {
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
  // gap: 0.5rem;
  padding: 2px 4px;
  // border: 1px solid transparent;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // Variants
  &--primary {
    background-color: #a67102;
    color: #ffffff;

    &:hover:not(:disabled) {
      background-color: #875d04;
    }
  }

  &--secondary {
    background-color: #f3f4f6;
    color: #1f2937;

    &:hover:not(:disabled) {
      background-color: #e5e7eb;
    }
  }

  &--outline {
    // background-color: transparent;
    // border-color: #e5e7eb;
    // color: #1f2937;

    &:hover:not(:disabled) {
      background-color: #f3f4f6;
    }
  }

  // Sizes
  &--small {
    // padding: 0.25rem 0.5rem;
    padding: 4px 8px;
    font-size: 12px;
    // display: flex;
  }

  &--large {
    padding: 8px 16px;
    font-size: 14px;
  }

  &--icon {
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
