@use "../../../styles/colors" as colors;
 
.header {
  position: sticky;
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out,
    background 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
 
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
 
.header.scrolled {
  // position: fixed;
  // margin-top: 16px;
  // width: 90%;
  // left: 5%;
  background: rgba(51, 51, 51, 0.89);
  // border-radius: 10px;
  // border-radius: 35px;
  transition: all 0.4s ease-in-out;
}
 
.header-left {
  display: flex;
  align-items: center;
}
 
.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
 
.menu-container {
  position: relative;
}
 
.menu-icon_wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
}
 
.menu-icon {
  height: 16px;
  width: 16px;
}
 
.menu-toggle {
  // background-color: ;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
 
.search-query-results {
  width: 100%;
  border-radius: 8px;
  position: absolute;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  background-color: #444;
  // overflow: hidden;
}
 
.search-query-result {
  display: flex;
  flex: 1;
  align-items: center;
  // width: 100%;
  cursor: pointer;
  padding: 4px 8px;
  gap: 8px;
  background-color: #555;
 
  img {
    height: 50px;
  }
  .search-query-result-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
 
  div p {
    margin: 0;
  }
  div p:last-child {
    font-size: 12px;
  }
}
 
.search-query-result:first-child {
  border-radius: 8px 8px 0px 0px;
}
.search-query-result:last-child {
  border-radius: 0px 0px 8px 8px;
}
 
.nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Position directly below the menu button */
  left: 0;
  background-color: #444;
  width: 150px; /* Made the dropdown list width smaller */
  z-index: 1000;
}
 
.nav.open {
  display: flex;
}
 
.nav a {
  color: white;
  padding: 0.25rem 0.5rem; /* Made the dropdown menu smaller */
  text-decoration: none;
  font-size: 14px; /* Reduced font size */
}
 
.nav a:hover {
  background-color: #555;
}
 
.header-center {
  flex: 1;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
}
 
.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}
 
.search-movies-count {
  text-align: center;
  margin: 0;
  padding: 4px 8px;
  color: #555;
  text-decoration: none;
}
 
.search-bar {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  // font-family: "Bebas Neue", sans-serif;
}
 
.search-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
 
.header-right {
  display: flex;
  align-items: center;
 
  .user-container {
    position: relative;
    .user-icon {
      height: 32px;
      width: 32px;
      stroke: colors.$gold-800;
    }
    .user-controls {
      position: absolute;
      background-color: colors.$gray-500;
      padding: 4px 8px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 4px;
 
      .link {
        color: colors.$gold-400;
 
        p {
          margin: 0;
          padding: 2px 4px;
        }
      }
 
      p {
        color: colors.$gold-400;
        margin: 0;
        padding: 2px 4px;
        cursor: pointer;
      }
    }
  }
}
 
.btn {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  text-decoration: none;
  border-radius: 0.375rem;
}
 
.btn:hover {
  background-color: #0056b3;
}
 
// Ensure responsiveness
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
 
  .menu-toggle {
    display: block;
  }
 
  .nav {
    width: 100%;
    background-color: #444;
    margin-top: 1rem;
  }
 
  .header-center {
    width: 100%;
    margin: 1rem 0;
  }
 
  .search-bar {
    width: 100%;
  }
 
  .header-right {
    width: 100%;
    justify-content: flex-end;
  }
}
 